<h1>
  Comments for this Resource
</h1>

<form class="comment-form" ng-submit="vm.addComment()">
  <textarea class="comment-text-area" placeholder="Enter comment here" ng-model="vm.comment.text"></textarea>
  <div>
    <button class="submit-button">Add Comment</button>
  </div>
</form>


<div class="comments-container"ng-repeat="comment in vm.comments | orderBy: '-created'">

  <div class="user-name">
    <span>{{comment.userId}}</span> said at {{comment.created | date:"MM/dd/yyyy '@' h:mma"}}:
  </div>

  <div class="comment">
    {{comment.text}}
  </div>

  <div>
    <span class="comment-button">reply</span>
    <span class="comment-button" ng-click="vm.deleteComment()">delete</span>
  </div>
</div>
