<h1>Users</h1>

<form ng-submit="vm.addUser()">
  <input class="user-name" ng-model="vm.newUser.userId" placeholder="GitHub username">
  <select class="user-role" ng-model="vm.newUser.role">
    <option value="admin">
      Admin
    </option>
    <option value="user">
      User
    </option>
  </select>
  <button class="add-user__btn">+ Add User</button>
</form>

<ul>
  <li ng-repeat="user in vm.users | orderBy:'userId'">
    <a class="users-link" href="#/users/{{user.userId}}">{{user.userId}}</a>
  </li>
</ul>

<button ng-click="vm.currentUser()">Click me</button>
