

////////// COMMENT FORM /////////////

.comment-form {
  margin-top: 1em;
  margin-bottom: 3em;
}

.comment-text-area {
  width: 400px;
  height: 100px;
  resize: none;
}

.submit-button {
  border-radius: 5px;
  font-size: 0.7em;
  padding: 0.5em;
  color: #417C81;
  background: $bg-color;
  border: 1px solid #0E494E;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #417C81;
  color: $bg-color;
}

////////// COMMENTS CONTAINER ////////

.comments-container {
  background: #D6EAEA;
  padding: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  border: 1px solid #C6E2E2;
}

.user-name {
  font-size: 0.8em;
}

.user-name span {
  color: #417C81;
}

.user-name span:hover {
  cursor: pointer;
}

.comment {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

.comment-button {
  font-size: 0.8em;
  width: 3em;
  margin-right: 5px;
}

.comment-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 300px)
and (max-device-width : 480px) {
  /* Styles */
  .comment-form {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 3em;
  }

  .comment-text-area {
    width: 100%;
    height: 75px;
    resize: none;
    margin-bottom: 0;
  }

  // .submit-button-container {
  //   width: 100%;
  //   margin-top: -0.5em;
  // }
  //
  // .submit-button {
  //   width: 102%;
  //   border-radius: 0;
  //   font-size: 0.7em;
  //   padding: 0.5em;
  //   color: $accent-color;
  //   background: $bg-color;
  //   border: 1px solid #C4CFF3;
  // }
}
