.root-content {
  padding: 2em;
}

.toolbar {
  background: #F4F4F4;
  padding: 1em;
  margin-bottom: 1.5em;
}

.main-nav {
  background: #0E494E;
  color: #FFF;
  padding: 0;
}

.app-icon {
  color: inherit;
}

.app-icon:before {
  content: 'b';
  font-family: 'fontastic';
  display: inline-block;
  font-size: 2.5em;
  padding-right: 0.5rem;
  vertical-align: middle;
  transform: rotate(-10deg);
}

.main-nav-link {
  display: inline-flex;
  padding: 1.65em 1em;
  color: inherit;
}

.main-nav-link-container {
  float: right;
}

.main-nav-logo {
  display: inline-block;
  padding: .5em 1em;
  font-size: 2em;
}

.main-nav-link:hover {
  // background: #515AA4;
  color: inherit;
  text-decoration: underline;
}

.main-nav-link.active {
  background: #417C81;
  height: 100%;
}

@media only screen and (max-width : 750px) {

  .main-nav-link-container {
    display: block;
    width: 100%;
    color: black;
    margin-bottom: 3em;
  }

  .main-nav-link {
    display: block;
    padding: 3px;
  }

}
