.shares-title {
  margin-top: -0.5em;
}

.list-item {
  background: #F0F3FC;
  padding: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.link-description {
  font-size: 1.25em;
}

.link-description:hover {
  color: #2186DE;
}

.link-website {
  font-size: 0.6em;
  color: inherit;
}

.link-website:hover {
  color: inherit;
}

.link-container {
  position: absolute;
  margin-left: 1em;
  margin-top: 0.5em;
}

// modify resource container

.modify-resource-container span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.hide-resource {
  font-size: 0.7em;
  margin-left: 0.5em;
}

.comments {
  width: 5em;
  font-size: 0.7em;
  margin-top: 0.3em;
}

.comments a {
  color: inherit;
}

.remove-resource {
  font-size: 0.7em;
  margin-left: 0.5em;
}

// votes

.vote-container {
  display: inline-block;
  width: 1em;
  text-align: center;
}

.vote {
  font-family: votes;
}

.vote:hover {
  cursor: pointer;
}

.vote-count {
  margin-top: -2px;
  margin-bottom: -3px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 300px)
and (max-device-width : 480px) {

.list-item {
  width: 100%;
  padding-bottom: 1em;
}

.main-nav-link-container {
  display: block;
  width: 100%;
  color: black;
  margin-bottom: 3em;
}

.main-nav-link {
  display: block;
  padding: 3px;
}

}
