.new-resource__container {
  width: 50%;
  margin: auto;
  text-align: center;
}

  .new-resource__header {
    font-size: 4em;
    margin: .2em;
  }

  .new-resource__url,
  .new-resource__description,
  .new-resource__tags {
    padding: 1em;
    width: 90%;
    display: block;
    margin: .75em;
    font-size: 1.3em;
  }

  .new-resource__submit {
    padding: 1em;
    margin: .5em;
    width: 75%;
    background: $bg-color;
    border: 1px solid #0E494E;
    border-radius: .25em;
    color: #417C81;
    &:hover {
      background-color: #417C81;
      color: $bg-color;
      cursor: pointer;
    }
  }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 750px) {

  .new-resource__container {
    width: 100%;
  }

  .new-resource__header {
    font-size: 2em;
  }

  .new-resource__url,
  .new-resource__description,
  .new-resource__tags {
    padding: 1em;
    width: 75%;
    display: block;
    margin: .75em;
    font-size: 1.3em;
  }

}
